<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.sbuild.eclipse.resolver.sbuild07.preferences.PreferencesPage"
            id="org.sbuild.eclipse.resolver.sbuild07.preferences"
            name="SBuild 0.7 Resolver"
            category="de.tototec.sbuild.eclipse.plugin.preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.sbuild.eclipse.resolver.sbuild07.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
