<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <!-- Initialize the SBUILD LIBRARIES classpath container -->
   <extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="de.tototec.sbuild.SBUILD_DEPENDENCIES"
          class="de.tototec.sbuild.eclipse.plugin.container.SBuildClasspathContainerInitializer"/>
   </extension>
   <!-- The configuration page of the SBUILD LIBRARIES classpath container -->
   <extension 
       point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
         	id="de.tototec.sbuild.SBUILD_DEPENDENCIES"
         	name="SBuild Libraries"
         	class="de.tototec.sbuild.eclipse.plugin.container.SBuildClasspathContainerPage" />
   </extension>
   <!-- A decorator for the Package Explorer to indicate problems -->
   <extension
       point="org.eclipse.ui.decorators">
      <decorator
          id="de.tototec.sbuild.eclipse.plugin.container.ClasspathDecorator"
          label="SBuild Classpath Decorator"
          state="true"
          lightweight="true"
          class="de.tototec.sbuild.eclipse.plugin.container.ClasspathDecorator">
         <description>Experimental! Enhance presentation of SBuild classpath elements with details provided by SBuild.</description> 
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.tototec.sbuild.eclipse.plugin.preferences.PreferencesPage"
            id="de.tototec.sbuild.eclipse.plugin.preferences"
            name="SBuild">
      </page>
   </extension>
   <extension
         id="de.tototec.sbuild.eclipse.plugin.SBUILD_NATURE"
         name="SBuild Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="de.tototec.sbuild.eclipse.plugin.nature.SBuildProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            adaptable="true"
            id="de.tototec.sbuild.eclipse.plugin.objectContribution1">
         <enablement>
            <not>
               <test forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="de.tototec.sbuild.eclipse.plugin.SBUILD_NATURE">
               </test>
            </not>
         </enablement>
         <action
               class="de.tototec.sbuild.eclipse.plugin.nature.AddSBuildNatureActionDelegate"
               enablesFor="+"
               id="de.tototec.sbuild.eclipse.plugin.nature.AddSBuildNatureActionDelegate"
               label="Add SBuild Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               tooltip="Add SBuild nature / SBuild classpath container to a project">
         </action>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            adaptable="true"
            id="de.tototec.sbuild.eclipse.plugin.objectContribution2">
         <enablement>
            <test forcePluginActivation="true"
                  property="org.eclipse.core.resources.projectNature"
                  value="de.tototec.sbuild.eclipse.plugin.SBUILD_NATURE">
            </test>
         </enablement>
         <action
               class="de.tototec.sbuild.eclipse.plugin.nature.RemoveSBuildNatureActionDelegate"
               enablesFor="+"
               id="de.tototec.sbuild.eclipse.plugin.nature.RemoveSBuildNatureActionDelegate"
               label="Remove SBuild Nature"
               menubarPath="org.eclipse.ui.projectConfigure/additions"
               tooltip="Remove SBuild nature / SBuild classpath container from a project">
         </action>
         <action
               class="de.tototec.sbuild.eclipse.plugin.container.RefreshClasspathContainerActionDelegate"
               enablesFor="+"
               id="de.tototec.sbuild.eclipse.plugin.container.RefreshClasspathContainerActionDelegate"
               label="Refresh SBuild Dependencies">
         </action>
      </objectContribution>
   </extension>
</plugin>
